---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	

	<p>
		Découverte d'Astro!
	</p>
	
	<a href="https://docs.astro.build/en/tutorial/0-introduction/" target="_blank">Astro Docs</a>
</BaseLayout>